:root {
	--bg-color: #fff;
	--app-bg-color: #dedcbc;
	--text-color: #000;
	--btn-bg: #eee;
	--btn-text: #000;
	--filter-btn-bg: #e5e7eb;
	--filter-btn-hover-bg: #d1d5db;
	--task-bg: #f9fafb;
	--task-border-left: #2563eb;
	--task-done-bg: #e0f2fe;
	--task-input-border: #ccc;
	--task-input-focus-border: #2563eb;
	--task-button-done-bg: #10b981;
	--task-button-done-hover-bg: #059669;
	--task-button-delete-bg: #ef4444;
	--task-button-delete-hover-bg: #dc2626;
	--footer-color: #1f2937;
	--footer-border-color: #444;
	--social-icon-color: #059669;
	--social-icon-hover-color: #f39c12;
}

[data-theme="dark"] {
	--bg-color: #1f2028;
	--app-bg-color: #252943;
	--text-color: #eee;
	--btn-bg: #333;
	--btn-text: #eee;
	--filter-btn-bg: #4b5563;
	--filter-btn-hover-bg: #374151;
	--task-bg: #999;
	--task-border-left: #3b82f6;
	--task-done-bg: #2c3e50;
	--task-input-border: #4b5563;
	--task-input-focus-border: #3b82f6;
	--task-button-done-bg: #059669;
	--task-button-done-hover-bg: #047857;
	--task-button-delete-bg: #dc2626;
	--task-button-delete-hover-bg: #b91c1c;
	--footer-color: #95afd6;
	--footer-border-color: wheat;
	--social-icon-color: #34d399;
	--social-icon-hover-color: #fbbf24;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	transition: background-color 0.5s ease, color 0.5s ease;
	font-family: "Tajawal", sans-serif !important;
	font-weight: bold;
}

.app-container {
	max-width: 500px;
	margin: 30px auto;
	padding: 20px;
	background-color: var(--app-bg-color);
	border-radius: 16px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: all 0.8s;
}

h1 {
	margin-bottom: 20px;
	color: var(--text-color);
}

.toggle-theme,
.toggle-language {
	margin: 10px;
	padding: 8px 12px;
	border: none;
	border-radius: 6px;
	font-size: 20px;
	cursor: pointer;
	background-color: var(--btn-bg);
	color: var(--btn-text);
	transition: all 0.8s;
	position: absolute;
	top: 50px;
	font-family: "Tajawal", sans-serif !important; /* Add this line */
}

.toggle-theme {
	left: 50px;
}

.toggle-language {
	right: 50px;
	padding: 9.5px;
	height: 45px;
	width: 80px;
}

.toggle-language:hover,
.toggle-theme:hover {
	background-color: #047857;
}

.filters {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filters button {
	padding: 6px 10px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	background-color: var(--filter-btn-bg);
	font-size: 14px;
	transition: background-color 0.3s;
	color: var(--text-color);
}

.filters button:hover {
	background-color: var(--filter-btn-hover-bg);
}

.filters button.active {
	background-color: var(--task-border-left);
	color: white;
	font-weight: bold;
}

.task-counter {
	margin-bottom: 10px;
	font-size: 15px;
	font-style: italic;
	color: var(--text-color);
}

.task-input {
	display: flex;
	gap: 10px;
	margin-bottom: 30px;
}

.task-input input {
	flex: 1;
	padding: 12px;
	font-size: 16px;
	border: 2px solid var(--task-input-border);
	border-radius: 8px;
	outline: none;
	transition: border-color 0.3s;
	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: "Tajawal", sans-serif !important;
}

.task-input input:focus {
	border-color: var(--task-input-focus-border);
}

.task-input button {
	margin: 5px;
	padding: 12px 18px;
	background-color: var(--task-border-left);
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.task-input button:hover {
	background-color: #1d4ed8; /* ممكن تظل ثابتة */
}

.task-list {
	list-style: none;
	padding: 0;
	text-align: left;
}

.empty-text {
	color: #b13f3f;
	font-style: italic;
	margin-top: 20px;
}

.task-list li {
	background-color: var(--task-bg);
	padding: 12px 16px;
	margin-bottom: 10px;
	border-radius: 8px;
	border-left: 4px solid var(--task-border-left);
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s;
	color: var(--text-color);
}

.task-list li.done {
	background-color: var(--task-done-bg);
	text-decoration: line-through;
	opacity: 0.7;
}

.task-buttons {
	display: flex;
	gap: 8px;
}

.task-buttons button {
	padding: 6px 10px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
	color: white;
}

.task-buttons button.done {
	background-color: var(--task-button-done-bg);
}

.task-buttons button.done:hover {
	background-color: var(--task-button-done-hover-bg);
}

.task-buttons button.delete {
	background-color: var(--task-button-delete-bg);
}

.task-buttons button.delete:hover {
	background-color: var(--task-button-delete-hover-bg);
}

footer,
footer.app-footer {
	padding: 1rem;
	text-align: center;
	color: var(--footer-color);
	margin-top: 3rem;
	transition: background-color 0.5s ease, color 0.5s ease;
}
footer.app-footer {
	border-top: 1px solid var(--footer-border-color);
}

.social-icons {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	gap: 1.2rem;
}

.social-icons a {
	color: var(--social-icon-color);
	transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
	color: var(--social-icon-hover-color);
	transform: scale(1.2);
}

@media (max-width: 600px) {
	.app-container {
		margin: 70px 20px;
		padding: 15px;
	}

	.task-input {
		width: 300px;
		flex-direction: column;
		gap: 12px;
	}

	.filters {
		flex-direction: row;
		align-items: center;
	}

	.filters button {
		width: 100%;
	}

	.task-list li {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	.task-buttons {
		align-self: flex-end;
	}

	.toggle-theme {
		position: absolute;
		top: 5px;
		left: 15px;
	}

	.toggle-language {
		position: absolute;
		top: 5px;
		right: 15px;
	}
}
